.win{
    height: 700px;
    background-image: url('welcomewin.jpg');
    background-position: center;
    position: relative;
}
.win h1{
    position: absolute;
    bottom: 20px;
    font-size: 70px;
    color: white;
    left: 20px;
}