.site{
    width: 400px;
    height: 430px;
    transition: all 0.2s;
    background-color: white;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.site:hover{
    box-shadow: 0 0 30px 5px black;
}
img{
    width: 100%;
    border-radius: 20px;
}
h3{
    margin-top: 40px;
    width: 90%;
}
.btns{
    position: absolute;
    bottom: 20px;
    right: 18px;
}

@media (max-width: 1200px){

    .site{
        width: 100%;
        margin-left: 20px;
    }
}